<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vengithiyagarajan.storedetails">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logostore"
        android:label="Store Details"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main22Activity" />
        <activity android:name=".Viewlistcontents" />
        <activity android:name=".Main23Activity" />
        <activity android:name=".Main24Activity"></activity>
    </application>

</manifest>
